@model WebPasswordManager.Models.LogOn

@{

}

@using (Html.BeginForm("Index", "LogOn"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
}


